//variable declaration
$margin0: 0px;
$color-white: #fff;
$color-blue: rgba(255, 255, 255, 0.4);
$default-fontSize: 2rem;

.quote-container {
  width: 60%;
  margin: 0 auto;
}

.quote-button {
  display: flex;
  text-align: center;
  justify-content: space-between;

  &__link {
    border-radius: 2rem;
    background: $color-white;
    font-size: $default-fontSize;
    padding: 1rem 2rem;
    color: #000;
    text-decoration: none;
    width: 40%;

    &:hover {
      background-color: $color-blue;
      color: $color-white;
      transition: background 0.6s, color 0.6;
      cursor: pointer;
    }
  }
}

.quote {
  margin-top: 2rem;
  border-radius: 2rem;
  background-color: $color-blue;

  &__text {
    font-size: 2.5rem;
    padding: 3rem;
    margin: $margin0;
  }

  &__author {
    padding-left: 4rem;
    font-size: $default-fontSize;
  }

  &__footer-text {
    background-color: #222;
    border-radius: 2rem;
    text-align: center;
    color: $color-white;
    height: 4rem;
    font-size: $default-fontSize;
    padding-top: 1rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  .quote-container {
    width: 100%;
  }

  .quote-button {
    flex-direction: column;
  }

  .quote-button__link--2 {
    margin-top: 1.5rem;
  }
}
