@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:regular,bold,italic&subset=latin,latin-ext");

body {
  background: #119fd8;
  font-family: "Roboto Slab", serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
}

.header-text {
  font-size: 70px;
  padding: 15px;
}

.quote-container {
  margin: auto;
}

.quote-btn,
.tweet-btn {
  height: 50px;
  border-radius: 20px;
  width: 330px;
  border: none;
  color: #000;
  background: #fff;
  font-size: 20px;
}

.tweet-btn {
  margin-left: 40px;
  text-decoration: none;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  transition: background 0.8s, color 0.8s;
}

.quotation {
  margin-top: -15px;
  border-radius: 20px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.4);
}

.quote-text {
  font-size: 25px;
  padding: 20px;
}

.quote-author {
  padding-left: 40px;
}

.footer-text {
  background-color: #222;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  height: 40px;
  font-size: 20px;
  padding-top: 10px;
}
